@media only screen and (max-width: 1440px) {
  .features-card {
    margin-top: 94px;
    display: flex;
    flex-direction: column-reverse;
    gap: 35px;
  }
}
@media only screen and (max-width: 1000px) {
  .contact img {
    display: none;
  }
}
@media only screen and (max-width: 947px) {
  header {
    padding: 0px 10px;
  }
  .nav-list {
    column-gap: 16px;
  }
  main {
    padding: 185px 20px 370px;
  }
  .companys {
    display: flex;
    flex-wrap: wrap;
  }
  .coments {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .coments-section {
    padding: 50px 10px;
  }
  .footer-list {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .footer-row {
    gap: 20px;
  }
  .footer-subscribe form {
    flex-direction: column;
    align-items: flex-start;
  }
  footer {
    padding: 10px;
  }
}
@media only screen and (max-width: 665px) {
  .nav-list,
  .box {
    display: none;
  }
  .menu {
    display: block;
  }
  header {
    flex-direction: row-reverse;
  }
  main {
    padding: 50px 20px;
    text-align: center;
  }
  .main-text {
    margin-bottom: 30px;
  }
  .blur-section {
    max-width: 350px;
    width: 100%;
    height: 400px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 50px;
    gap: 40px;
    padding-top: 70px;
  }
  .line {
    display: none;
  }
  .direction {
    display: block;
    max-width: 280px;
    width: 100%;
    height: 25px;
    border-radius: 10px;
    border: none;
  }
  .direction-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .search-icon {
    display: none;
  }
  .search-btn {
    display: block;
  }
  .partners {
    gap: 20px;
    padding: 20px 0px 20px;
  }
  .partner-text {
    text-align: center;
  }
  .companys {
    gap: 10px;
  }
  .companys img {
    width: 100px;
  }
  .big-card {
    display: none;
  }
  .card-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }
  .passive {
    display: none;
  }
  .responsive-btn {
    display: block;
    max-width: 137px;
    width: 100%;
  }
  .coments {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .coments-section {
    padding: 50px 10px;
  }
  .footer-links {
    display: none;
  }
  .footer-subscribe {
    align-items: center;
    margin: auto;
  }
  .footer-subscribe form {
    align-items: center;
  }
  .footer-copyright {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
