@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Kufam:wght@600&family=Roboto&display=swap");
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 145px;
}
.nav-list {
  display: flex;
  align-items: center;
  column-gap: 32px;
}
.nav-link-dropdown {
  display: flex;
  column-gap: 4px;
  align-items: center;
}
button {
  color: #fff;
  /* Text/Regular/Normal */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding: 8px 20px;
  border-radius: 5px;
  border: 2px solid #4caf4f;
  background: #4caf4f;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
}
.box {
  max-width: 621px;
  width: 100%;
  height: 28px;
}
.box-btn {
  display: flex;
  justify-content: end;
  align-items: center;
}
.menu {
  display: none;
}
.nav-list a {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  transition: transform all;
}
.nav-list a:hover {
  border-bottom: 2px solid black;
}
main {
  width: 100%;
  background-image: url(../image/main-img.jpg);
  background-size: cover;
  background-position: bottom;
  padding-top: 185px;
  padding-bottom: 370px;
}
.main-text {
  max-width: 637px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  margin: 0px auto 107px;
}
.main-text h1 {
  color: #2d2d2d;
  /* H1 */
  font-family: Kufam;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 76px; /* 118.75% */
}
.main-text-span {
  color: #4caf4f;
  /* H1 */
  font-family: Kufam;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 76px;
}
.main-text p {
  color: #2d2d2d;
  /* Txt/Med/18 */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}
.blur-section {
  padding: 19px 26px 19px 81px;
  margin: auto;
  max-width: 844px;
  width: 100%;
  height: 102px;
  border-radius: 5.224px;
  background: rgba(243, 243, 243, 0.6);
  backdrop-filter: blur(17.760618209838867px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.direction-input {
  width: 100px;
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-family: Poppins;
  font-size: 18.805px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#travel-type {
  width: 140px;
  border: none;
  background: none;
  color: #fff;
  font-family: Poppins;
  font-size: 18.805px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
}
.duration {
  background: none;
  border: none;
  color: #fff;
  font-family: Poppins;
  font-size: 18.805px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  width: 110px;
}
.duration-div {
  display: flex;
  align-items: center;
}
.direction-input::placeholder {
  color: #fff;
  font-family: Poppins;
  font-size: 18.805px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.duration::placeholder {
  color: #fff;
  font-family: Poppins;
  font-size: 18.805px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.line {
  width: 3px;
  height: 48px;
  border-radius: 25px;
  background: #d0d0d0;
}
.search-icon {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #f2f2f2;
  cursor: pointer;
}
.direction {
  display: none;
}
.search-btn {
  display: none;
}
.partners {
  display: flex;
  width: 100%;
  padding: 65px 0px 83.436px;
  flex-direction: column;
  align-items: center;
  gap: 59px;
  margin: auto;
  background: #75ba77;
}
.partner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}
.partner-text h2 {
  color: #2d2d2d;
  /* H2 */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
}
.partner-text p {
  color: #000;
  /* Txt/Med/16 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.companys {
  margin: 0px 20px 0px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 100px;
}
.companys img {
  max-width: 242.227px;
  width: 100%;
}
.companys img:hover {
  border-bottom: 2px solid white;
}
.alps {
  margin: 59px auto 148px;
  max-width: 1438px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.alps-text {
  display: flex;
  flex-direction: column;
  gap: 19px;
  text-align: center;
}
.alps-text h2 {
  color: var(--Color-Primary-Black, #2d2d2d);
  /* H2 */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
}
.alps-text p {
  color: #000;
  /* Txt/Med/16 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.card {
  height: 450px;
  max-width: 333px;
  width: 100%;
  border-radius: 10.968px;
  background: #f2f2f2;
  box-shadow: 0px 17.549px 35.098px 0px rgba(171, 190, 209, 0.3);
  transition: transform all;
}
.card:hover {
  transform: scale(1.1);
}
.card img {
  border-radius: 10.968px 10.968px 0px 0px;
}
.card-text {
  margin: 26.32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-text h3 {
  max-width: 250px;
  width: 100%;
  color: #000;
  font-family: Inter;
  font-size: 30.71px;
  font-style: normal;
  font-weight: 700;
  line-height: 39.485px; /* 128.571% */
}
.card-text p {
  color: #000;
  font-family: Roboto;
  font-size: 17.549px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 26.323px */
}
.card-btn {
  display: flex;
  padding: 8.774px 21.936px;
  justify-content: center;
  align-items: center;
  gap: 8.774px;
  border-radius: 5.484px;
  border: 2.194px solid #38813a;
  background: none;
  color: #38813a;
  text-align: center;
  font-family: Inter;
  font-size: 17.549px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.323px; /* 150% */
  margin-top: 26.32px;
  cursor: pointer;
}
.white {
  display: none;
}
.card-btn:hover {
  background-color: #38813a;
  color: #fff;
  .white {
    display: block;
  }
  .green {
    display: none;
  }
}
.card-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 35px;
}
.card-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 35px;
}
.features-card {
  margin-top: 94px;
  display: flex;
  gap: 35px;
}
.big-card {
  width: 701px;
  border-radius: 10.968px;
  background: #f2f2f2;
  box-shadow: 0px 17.549px 35.098px 0px rgba(171, 190, 209, 0.3);
}
.big-card-text {
  margin: 55.94px 52.65px;
}
.big-card-text h2 {
  color: #000;
  font-family: Inter;
  font-size: 39.485px;
  font-style: normal;
  font-weight: 600;
  line-height: 48.259px; /* 122.222% */
}
.big-card-text p {
  color: #000;
  font-family: Roboto;
  font-size: 17.549px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 26.323px */
}
.big-card-buttons {
  display: flex;
  align-items: baseline;
  gap: 21.94px;
}
.responsive-btn {
  display: none;
}
.escape {
  width: 100%;
  margin-top: 147px;
  background-image: url(../image/river-house.png);
  padding: 112px 64px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.escape h2 {
  color: #fff;
  text-align: center;

  /* H2 */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
}
.escape p {
  color: #fff;
  text-align: center;
  /* Txt/Med/18 */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}
.escape-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.escape-btn {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  border: 2px solid #f2f2f2;
  background: none;
}
.coments-section {
  margin: 12px auto 0px;
  padding: 112px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.coment-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.coment-text h2 {
  color: var(--Color-Primary-Black, #2d2d2d);
  text-align: center;
  /* H2 */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
}
.coment-text p {
  color: var(--Color-Primary-Black, #2d2d2d);
  text-align: center;
  /* Txt/Med/18 */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}
.coment-card {
  max-width: 416px;
  width: 100%;
  padding: 23px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  border-radius: 12px;
  transition: transform all;
}
.coment-card:hover {
  transform: scale(1.1);
}
.coment-card p {
  color: var(--Color-Primary-Black, #2d2d2d);
  text-align: center;
  /* Txt/Reg/18 */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}
.customer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.customer span {
  color: var(--Color-Primary-Black, #2d2d2d);
  /* Txt/Med/18 */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}
.coments {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.coment-left-btn {
  padding: 12px;
  transform: rotate(180deg);
  border: 1px solid #4caf4f;
  border-radius: 50%;
}
.coment-right-btn {
  padding: 12px;
  background-color: #4caf4f;
  border: 1px solid #4caf4f;
  border-radius: 50%;
}
.coment-slide-btn {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.contact {
  width: 100%;
  padding: 112px 64px;
  display: flex;
  justify-content: center;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  align-items: flex-start;
}
.form-style {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contact-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.contact-title {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact-title h2 {
  color: #2d2d2d;
  /* H2 */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
}
.contact-title p {
  color: #2d2d2d;
  /* Txt/Med/18 */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}
.contact-form label {
  color: #2d2d2d;
  /* Txt/Med/18 */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}
.contact-form-input {
  width: 100%;
  height: 48px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #2d2d2d;
  background: #fff;
  color: #505050;
  /* Text/Regular/Normal */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.contact-message {
  height: 180px;
  float: left;
  resize: none;
}
.checkbox-div {
  color: #2d2d2d;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}
.checkbox-div input {
  cursor: pointer;
}
footer {
  width: 100%;
  display: flex;
  padding: 80px 144px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  background: #75ba77;
}
.footer-row {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-link {
  max-width: 463px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
}
.footer-list {
  width: 100%;
  display: flex;
  align-items: baseline;
  margin-top: 32px;
  justify-content: space-between;
  column-gap: 32px;
}
.footer-list a {
  color: #f2f2f2;
  /* Text/Regular/Semi Bold */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-subscribe form {
  display: flex;
  gap: 16px;
}
.footer-subscribe span {
  color: #f2f2f2;
  /* Text/Regular/Semi Bold */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.footer-email {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  background: #fff;
  outline: none;
}
.footer-subscribe p {
  color: #f2f2f2;
  /* Text/Tiny/Normal */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.policy {
  color: #f2f2f2;
  /* Text/Tiny/Normal */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  text-decoration-line: underline;
}
.footer-line {
  width: 100%;
  height: 1px;
  align-self: stretch;
  background: #f2f2f2;
}
.footer-copyright-link {
  display: flex;
  gap: 24px;
}
.footer-copyright-link a {
  color: #f2f2f2;
  /* Text/Small/Link */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-decoration-line: underline;
}
.copyright {
  color: #f2f2f2;
  /* Text/Small/Normal */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.footer-copyright {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
